@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4"><span class="font-weight-bold">iSec</span>&nbsp;A simple plaintext encryptor</h1>
    <p>A tool by which information is converted into secret code that hides the information's true meaning</p>
</div>
