@model iSec.Models.TextTable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Encrypted Text</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label id="label">Encrypt Text</label>
                <input type="text" id="entertext" asp-for="EnteredText" class="form-control" placeholder="Enter or paste text">
            </div>
            <div class="form-group">
                <h5>Result</h5>
                <div class="row">
                    <div class="col-6">
                        <label>Encrypted Text</label>
                        <textarea class="form-control" id="encryptedResult" asp-for="EncryptedText" rows="3" readonly></textarea>
                    </div>
                    <div class="col-6">
                        <label>Decrypted Text</label>
                        <textarea class="form-control" id="decryptedResult" asp-for="DecryptedText" rows="3" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" onclick="encryptText()" class="btn btn-primary">Encrypt Text</button>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}